.experience {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 1fr;
  &--heading {
    display: grid;
    grid-column: 1 / -1;
    justify-self: center;
    button {
      padding: 0 1.5rem;
      height: 40px;
      border-radius: 4px;
      background: $interApt;
      border: none;
      outline: none;
      cursor: pointer;
      color: white;
      font-size: 1.6rem;
      text-shadow: 2px 2px black;
    }
  
  }
  h2 {
    grid-row: 1;
    grid-column: 1 / -1;
    font-size: 6rem;
    justify-self: center;
    color: cornflowerblue;
  }
  &--containeri {
    margin: 3rem 0 0 0;
    justify-self: right;
    grid-column: 1 / -1;
    grid-row: 2;
    h3 {
      text-align: right;
      color: $interApt;
      font-size: 3rem;
    }
    ul {
      text-align: right;
      list-style: none;
      color: $lineGreen;
      font-size: 2.2rem;
      p {
        font-size: 1.8rem;
        color: white;
        padding: 0.5rem 0 0.5rem 1.5rem;
      }
    }
    
  }

  &--containerb {
    margin: 3rem 0 0 0;
    justify-self: left;
    grid-column: 1 / -1;
    grid-row: 2;
    h3 {
      text-align: left;
      color: $interApt;
      font-size: 3rem;
    }
    ul {
      text-align: left;
      list-style: none;
      color: $lineGreen;
      font-size: 2.2rem;
      p {
        font-size: 1.8rem;
        color: white;
        padding: 0.5rem 1.5rem 0.5rem 0rem;
      }
    }
  }
}