.skills {
  grid-column: 2;
  font-size: 2.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100vh;
  margin: 1.5rem 0 0 1.5rem;
  border-left: 4.55px solid $lineGreen;
  h1, h2, h3, h4, h5 {
    color: $interApt;
  }
  h3 {
    text-align: center;
    text-decoration: underline;
  }
  color: white;
  &--personable {
    justify-self: right;
  }
  &--teaching {
    justify-self: left;
    grid-column: 3;
  }
}